<%- include('./partials/header') -%>
<div class="container">
	<div id="main" class="row">
		<div class="col-0 col-md-1"></div>
		<div class="col-12 col-md-10">
			<div class="row justify-content-md-center">
				<div class="col-12">
					<div class="jumbotron">
						<div class="card text-center mb-2 border-0">
							<h1 class="text-center mt-3">Hello.</h1>
							<div class="card-img-top mx-auto d-block mt-3">
								<img id="img-container" class="img-fluid" src="https://www.rei.com/blog/wp-content/uploads/2015/04/James-Harnois-JTree.jpg" alt="Card image cap">
							</div>
							<div class="card-body">
								<h5 class="card-title">Affeeq Ismail</h5>
								<p class="card-text">Self-Taught Web Developer</p>
								<p class="card-text">Self-Taught Web Developer</p>
							</div>
						</div>
					</div>


					<div class="card text-center mb-2">
						<div class="card-body">
							<h3 class="card-title mb-5">Focus</h3>
							<div class="row justify-content-center">
								<div class="col-12 col-sm-6">
									<div class="card border-0">
										<i class="fas fa-code fa-3x"></i>
										<div class="card-body">
											<p class="card-text">Write clean and meaningful code that allows easy maintenance</p>
										</div>
									</div>
								</div>
								<div class="col-12 col-sm-6">
									<div class="card border-0">
										<i class="fas fa-columns fa-3x"></i>
										<div class="card-body">
											<p class="card-text">Create clean and readible responsive websites</p>
										</div>
									</div>
								</div>
								<div class="col-12 col-sm-6">
									<div class="card border-0">
										<i class="fas fa-users fa-3x"></i>
										<div class="card-body">
											<p class="card-text">Be an intergral part of a team</p>
										</div>
									</div>
								</div>
								<div class="col-12 col-sm-6">
									<div class="card border-0">
										<i class="fas fa-comments fa-3x"></i>
										<div class="card-body">
											<p class="card-text">Prioritize clear communication to peers and clients</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card text-center mb-2">
						<div class="card-body">
							<h3 class="card-title mb-5">Technology</h3>
							<div class="row justify-content-center">
								<div class="col-6 col-lg-3">
									<div class="card border-0">
										<i class="fab fa-html5 fa-3x"></i>
										<div class="card-body">
											<h5 class="card-title">HTML5</h5>
										</div>
									</div>
								</div>
								<div class="col-6 col-lg-3">
									<div class="card border-0">
										<i class="fab fa-css3-alt fa-3x"></i>
										<div class="card-body">
											<h5 class="card-title">CSS3</h5>
										</div>
									</div>
								</div>
								<div class="col-6 col-lg-3">
									<div class="card border-0">
										<i class="fab fa-js fa-3x"></i>
										<div class="card-body">
											<h5 class="card-title">Javascript</h5>
										</div>
									</div>
								</div>
								<div class="col-6 col-lg-3">
									<div class="card border-0">
										<i class="fab fa-bootstrap fa-3x"></i>
										<div class="card-body">
											<h5 class="card-title">Bootstrap</h5>
										</div>
									</div>
								</div>
								<div class="col-6 col-lg-3">
									<div class="card border-0">
										<i class="fab fa-node fa-3x"></i>
										<div class="card-body">
											<h5 class="card-title">Node JS</h5>
										</div>
									</div>
								</div>
								<div class="col-6 col-lg-3">
									<div class="card border-0 fa-3x">
										<i class="fab fa-envira"></i>
										<div class="card-body">
											<h5 class="card-title">MongoDB</h5>
										</div>
									</div>
								</div>
								<div class="col-6 col-lg-3">
									<div class="card border-0">
										<img id="jqueryFontSize" class="mx-auto d-block" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/jquery.svg" />
										<div class="card-body">
											<h5 class="card-title">jQuery</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-0 col-md-1"></div>
	</div>
</div>


<%- include('./partials/footer') -%>