<%- include('./partials/header') -%>
<div class="container-fluid">
	<header id="main" class="row justify-content-center jumbotron">
		<div class="col-12 col-lg-6">
			<div class="text-center mb-2 border-0">
				<div class="mx-auto d-block">
					<img id="img-container" class="img-fluid" src="https://www.rei.com/blog/wp-content/uploads/2015/04/James-Harnois-JTree.jpg" alt="Card image cap">
				</div>
				<h5 class="mt-2">Affeeq Ismail</h5>
				<p class="">Self-Taught Web Developer</p>
			</div>
		</div>
		<div class="col-12 col-lg-6">
			<div class="text-center ml-1 mr-1 mt-4 mt-lg-0 text-lg-justify">
				<h2>About me.</h2>
				<p>I am a self-taught programmer. I started programming in junior year of college. I started doing programming seriously in September 2019 and have loved it ever since. I am currently learning to be a web developer and I am interested in learning more of it.</p>
				<h5>Education: </h5>
				<p>B.S. in Mechanical Engineering</p>
				<h5>Experience: </h5>
				<p>I started coding on freeCodeCamp and finished the Responsive Web Design Course. I had also finished the Web Developer Bootcamp Course by Colt Steele on Udemy.</p>
			</div>
		</div>
	</header>

	<section id="focus" class="row text-center mb-2 border-0 ml-1 mr-1">
		<div class="col-0 col-md-2"></div>
		<div class="col-0 col-md-8">
			<h3 class="mb-2">Focus</h3>
			<div class="row">
				<div class="col-6 col-md">
					<div class="card border-0 mt-2 mb-2 pt-2">
						<div class="card-body">
							<i class="fas fa-code fa-3x mb-3 mt-0 pt-0"></i>
							<p class="card-text">Write clean and meaningful code</p>
						</div>
					</div>
				</div>
				<div class="col-6 col-md">
					<div class="card border-0 mt-2 mb-2 pt-2">
						<div class="card-body">
							<i class="fas fa-columns fa-3x mb-3"></i>
							<p class="card-text">Create clean and responsive websites</p>
						</div>
					</div>
				</div>
				<div class="col-6 col-md">
					<div class="card border-0 mt-2 mb-2 pt-2">
						<div class="card-body">
							<i class="fas fa-users fa-3x mb-3"></i>
							<p class="card-text">Be an integral part of a team</p>
						</div>
					</div>
				</div>
				<div class="col-6 col-md">
					<div class="card border-0 mt-2 mb-2 pt-2">
						<div class="card-body">
							<i class="fas fa-comments fa-3x mb-3"></i>
							<p class="card-text">Prioritize clear communication</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-0 col-md-2"></div>
	</section>

	<section class="row text-center mb-2 border-0">
		<div class="col-0 col-md-1"></div>
		<div class="col-12 col-md-10">
			<h3 class="mb-2">Technology</h3>
			<div class="row">
				<div class="col-6 col-md-3 col-xl">
					<div class="card justify-content-center border-0">
						<div class="card-body">
							<i class="fab fa-html5 fa-2x mb-3"></i>
							<h5 class="card-title">HTML5</h5>
						</div>
					</div>
				</div>
				<div class="col-6 col-md-3 col-xl">
					<div class="card justify-content-center border-0">
						<div class="card-body">
							<i class="fab fa-css3-alt fa-2x mb-3"></i>
							<h5 class="card-title">CSS3</h5>
						</div>
					</div>
				</div>
				<div class="col-6 col-md-3 col-xl">
					<div class="card justify-content-center border-0">
						<div class="card-body">
							<i class="fab fa-js fa-2x mb-3"></i>
							<h5 class="card-title">Javascript</h5>
						</div>
					</div>
				</div>
				<div class="col-6 col-md-3 col-xl">
					<div class="card justify-content-center border-0">
						<div class="card-body">
							<i class="fab fa-bootstrap fa-2x mb-3"></i>
							<h5 class="card-title">Bootstrap</h5>
						</div>
					</div>
				</div>
				<div class="col-6 col-md-3 col-xl">
					<div class="card border-0">
						<div class="card-body">
							<i class="fab fa-node fa-2x mb-3"></i>
							<h5 class="card-title">Node JS</h5>
						</div>
					</div>
				</div>
				<div class="col-6 col-md-3 col-xl">
					<div class="card border-0">
						<div class="card-body">
							<i class="fab fa-envira fa-2x mb-3"></i>
							<h5 class="card-title">MongoDB</h5>
						</div>
					</div>
				</div>
				<div class="col-6 col-md-3 col-xl">
					<div class="card border-0">
						<div class="card-body">
							<img id="jqueryFontSize" class="mx-auto d-block mb-3" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/jquery.svg" />
							<h5 class="card-title">jQuery</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-0 col-md-1"></div>
	</section>
</div>


<%- include('./partials/footer') -%>