<%- include('./partials/header') -%>
<div class="container-fluid">
	<div id="main" class="row justify-content-center">
		<div class="col-12">
			<div class="jumbotron">
				<div class="text-center mb-2 border-0">
					<div class="mx-auto d-block mt-3">
						<img id="img-container" class="img-fluid mt-3" src="https://www.rei.com/blog/wp-content/uploads/2015/04/James-Harnois-JTree.jpg" alt="Card image cap">
					</div>
					<div class="">
						<h5 class="">Affeeq Ismail</h5>
						<p class="">Self-Taught Web Developer</p>
						<div class="d-flex justify-content-center">
							<i class="fab fa-github footer-icon"></i>
							<i class="fab fa-linkedin-in ml-3 mr-3 footer-icon"></i>
							<i class="fas fa-file footer-icon"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

		<div class="col-12">
			<div class="row text-center mb-2 border-0 section">
				<div class="col-12">
					<div class="card justify-content-center border-0">
						<h3 class="card-title mb-2">Focus</h3>
						<div class="card-body">
							<div class="row">
								<div class="col-6 col-sm-3">
									<div class="card border-0">
										<div class="card-body">
											<i class="fas fa-code fa-3x mb-3 mt-0 pt-0"></i>
											<p class="card-text">Write clean and meaningful code that allows easy maintenance</p>
										</div>
									</div>
								</div>
								<div class="col-6 col-sm-3">
									<div class="card border-0">
										<div class="card-body">
											<i class="fas fa-columns fa-3x mb-3"></i>
											<p class="card-text">Create clean and readible responsive websites</p>
										</div>
									</div>
								</div>
								<div class="col-6 col-sm-3">
									<div class="card border-0">
										<div class="card-body">
											<i class="fas fa-users fa-3x mb-3"></i>
											<p class="card-text">Be an intergral part of a team</p>
										</div>
									</div>
								</div>
								<div class="col-6 col-sm-3">
									<div class="card border-0">
										<div class="card-body">
											<i class="fas fa-comments fa-3x mb-3"></i>
											<p class="card-text">Prioritize clear communication to peers and clients</p>
										</div>
									</div>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-12">
			<div class="row text-center mb-2 border-0 section">
				<div class="col-12">
					<div class="card justify-content-center border-0">
						<h3 class="card-title mb-2">Technology</h3>
						<div class="card-body">
							<div class="row">
								<div class="col-12">
									<div class="row">
										<div class="col-6 col-sm">
											<div class="card border-0">
												<div class="card-body">
													<i class="fab fa-html5 fa-3x mb-3"></i>
													<h5 class="card-title">HTML5</h5>
												</div>
											</div>
										</div>
										<div class="col-6 col-sm">
											<div class="card border-0">
												<div class="card-body">
													<i class="fab fa-css3-alt fa-3x mb-3"></i>
													<h5 class="card-title">CSS3</h5>
												</div>
											</div>
										</div>
										<div class="col-6 col-sm">
											<div class="card border-0">
												<div class="card-body">
													<i class="fab fa-js fa-3x mb-3"></i>
													<h5 class="card-title">Javascript</h5>
												</div>
											</div>
										</div>
										<div class="col-6 col-sm">
											<div class="card border-0">
												<div class="card-body">
													<i class="fab fa-bootstrap fa-3x mb-3"></i>
													<h5 class="card-title">Bootstrap</h5>
												</div>
											</div>
										</div>
										<div class="col-6 col-sm">
											<div class="card border-0">
												<div class="card-body">
													<i class="fab fa-node fa-3x mb-3"></i>
													<h5 class="card-title">Node JS</h5>
												</div>
											</div>
										</div>
										<div class="col-6 col-sm">
											<div class="card border-0">
												<div class="card-body">
													<i class="fab fa-envira fa-3x mb-3"></i>
													<h5 class="card-title">MongoDB</h5>
												</div>
											</div>
										</div>
										<div class="col-6 col-sm">
											<div class="card border-0">
												<div class="card-body">
													<img id="jqueryFontSize" class="mx-auto d-block mb-3" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/jquery.svg" />
													<h5 class="card-title">jQuery</h5>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<%- include('./partials/footer') -%>