<%- include('./partials/header') -%>

<div class="container">
	<div  id="main">
		<h1>
			Personal Website
		</h1>
		<a href="/about">Profile Page</a>
	</div>
</div>




<%- include('./partials/footer') -%>