<%- include('./partials/header') -%>
<header>
	<div id="landing-img-container"></div>
	<div id="landing-text" class="text-center">
		<h1 class="header-title">Affeeq Ismail</h1>
		<p class="header-subtitle">Self-Taught Web Developer</p>
	</div>
	<div id="landing-link-down">
		<a><i class="fas fa-chevron-down fa-3x"></i></a>
	</div>
</header>
<div id="main" class="container-fluid h-100">
	<section id="intro" class="row justify-content-center align-items-center">
		<div class="col-12">
			<div class="text-center border-0">
				<div class="mx-auto d-block mb-2">
					<img id="img-container" class="img-fluid scroll-intro-img" src="https://res.cloudinary.com/imgstorageismail/image/upload/v1581000511/Photo_Dec_23_12_09_48_PM_wvmzz7.jpg" alt="Card image cap">
				</div>
				<div class="row">
					<div class="col-1 col-md-2 col-lg-3"></div>
					<div class="col-10 col-md-8 col-lg-6">
						<div class="mt-4 mt-lg-0 ml-1 mr-1">
							<div class="scroll-intro-content-1">
								<h2 class="mt-4">About me</h2>
								<hr>
								<p class="justified">Hi, I'm Affeeq. I am a self-taught web-developer and once a competitive squash player from Malaysia. I was introduced to programming in my junior year of college and I had loved it ever since. I started doing web development seriously in September 2019 and I am eager to learn more! I am currently learning to be a web developer and seeking opprtunities for the near future.</p>
							</div>
							<div class="scroll-intro-content-2">
								<h5 class="mt-4">Education: </h5>
								<p class="justified text-center">B.S. in Mechanical Engineering</p>
							</div>
							<div class="scroll-intro-content-3">
								<h5 class="mt-4">Experience: </h5>
								<p class="justified">I started coding on freeCodeCamp and finished the Responsive Web Design Course. I had also finished the Web Developer Bootcamp Course by Colt Steele on Udemy.</p>
							</div>
						</div>
					</div>
					<div class="col-1 col-md-2 col-lg-3"></div>
				</div>
			</div>
		</div>
	</section>

	<section id="focus" class="row text-center align-items-center border-0 ml-1 mr-1">
		<div class="col-1"></div>
		<div class="col-10">
			<h2 class="mb-3">Focus</h2>
			<hr class="mb-5">
			<div class="row">
				<div class="col-12 col-md-6 mb-5">
					<div class="border-0 pr-3 pr-md-4 pr-lg-5 pl-3 pl-md-4 pl-lg-5 scroll-focus-content-1">
						<div class="focus-icons-container mx-auto d-block mb-4">
							<i class="fas fa-code mb-3 focus-icons"></i>
						</div>
						<h3 class="focus-title mb-3">Development</h3>
						<p class="focus-p justified">I found my passion in web development. I hope to be able to write clean and readable code that could be used by others to create soemthing beautiful. </p>
					</div>
				</div>
				<div class="col-12 col-md-6 mb-5">
					<div class="border-0 pr-3 pr-md-4 pr-lg-5 pl-3 pl-md-4 pl-lg-5 scroll-focus-content-2">
						<div class="focus-icons-container mx-auto d-block mb-4">
							<i class="fas fa-columns mb-3 focus-icons"></i>
						</div>
						<h3 class="focus-title mb-3">Design</h3>
						<p class="focus-p justified">My journey as a web developer has taught me the importance of design. Design is not only purely in its aesthetic but also in its functionality and accessibility.</p>
					</div>
				</div>
				<div class="col-12 col-md-6 mb-5">
					<div class="border-0 pr-3 pr-md-4 pr-lg-5 pl-3 pl-md-4 pl-lg-5 scroll-focus-content-3">
						<div class="focus-icons-container mx-auto d-block mb-4">
							<i class="fas fa-users mb-3 focus-icons"></i>
						</div>
						<h3 class="focus-title mb-3">Involvement</h3>
						<p class="focus-p justified">As I continue my journey as a web developer, I am looking to be involve in a community and learn more from others.</p>
					</div>
				</div>
				<div class="col-12 col-md-6 mb-5">
					<div class="border-0 pr-3 pr-md-4 pr-lg-5 pl-3 pl-md-4 pl-lg-5 scroll-focus-content-4">
						<div class="focus-icons-container mx-auto d-block mb-4">
							<i class="fas fa-comments mb-3 focus-icons"></i>
						</div>
						<h3 class="focus-title mb-3">Communication</h3>
						<p class="focus-p justified">I believe communication is critical in delivering a beautiful finised product. I hope to be an integral part of a team and continue to improve in my communication skills.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-1"></div>
	</section>

	<section id="experience" class="row text-center align-items-center">
		<div class="col-0 col-md-2"></div>
		<div class="col-12 col-md-8">
			<h2 class="mb-3">Experience</h2>
			<hr>
			<p class="justified mb-5">I have been doing web developmenta little over 6 months and I am looking forward to improving my skills and to learn more in this industry.</p>
			<h4 class="mb-5">Some technologies that I had used:</h4>
			<div class="row">
				<div class="col-12 col-xl-8">
					<div class="row justify-content-start mb-5 mr-1 ml-1 scroll-experience-content-1">
						<div class="col-6 col-md-4 mb-3">
							<div id="html" class="experience-icons-container mx-auto">
								<i class="fab fa-html5 experience-icons"></i>
								<h5 class="experience-text" >HTML5</h5>
							</div>
						</div>
						<div class="col-6 col-md-4 mb-3">
							<div id="css" class="experience-icons-container mx-auto">
								<i class="fab fa-css3-alt experience-icons"></i>
								<h5 class="experience-text">CSS3</h5>
							</div>
						</div>
						<div class="col-6 col-md-4 mb-3">
							<div id="js" class="experience-icons-container mx-auto">
								<i class="fab fa-js experience-icons"></i>
								<h5 class="experience-text">Javascript</h5>
							</div>
						</div>
						<div class="col-6 col-md-4 mb-3">
							<div id="bootstrap" class="experience-icons-container mx-auto">
								<i class="fab fa-bootstrap experience-icons"></i>
								<h5 class="experience-text">Bootstrap</h5>
							</div>
						</div>
						<div class="col-6 col-md-4 mb-3">
							<div id="node" class="experience-icons-container mx-auto">
								<i class="fab fa-node-js experience-icons"></i>
								<h5 class="experience-text">Node JS</h5>
							</div>
						</div>
						<div class="col-6 col-md-4 mb-3">
							<div id="mongo" class="experience-icons-container mx-auto">
								<span class="iconify" data-icon="cib:mongodb" data-inline="false"></span>
								<h5 class="experience-text">MongoDB</h5>
							</div>
						</div>
						<div class="col-6 col-md-4 mb-3">
							<div id="jquery" class="experience-icons-container mx-auto">
								<span class="iconify" data-icon="cib:jquery" data-inline="false"></span>
								<h5 class="experience-text">Jquery</h5>
							</div>
						</div>	
					</div>
				</div>
				<div class="col-12 col-xl-4">
					<div class="row text-center">
						<div class="col-12 col-md-6 col-xl-12 mb-5 scroll-experience-content-2">
							<div class="d-flex justify-content-center align-items-center">
								<i class="fas fa-tools fa-2x icons-outline mr-3"></i>
								<h4 class="extra-experience">Tools</h4>
							</div>
							<ul class="ulExperience">
								<li class="experience-list">Git</li>
								<li class="experience-list">Command Line</li>
								<li class="experience-list">Chrome DevTools</li>
								<li class="experience-list">Heroku</li>
							</ul>
						</div>
						<div class="col-12 col-md-6 col-xl-12 scroll-experience-content-3">
							<div class="d-flex justify-content-center align-items-center">
								<i class="fas fa-brain fa-2x icons-outline mr-3"></i>
								<h4 class="extra-experience">Knowledge</h4>
							</div>
							<ul class="ulExperience">
								<li class="experience-list">Responsive Design</li>
								<li class="experience-list">ECMAScript 2016</li>
								<li class="experience-list">RESTful Routing</li>
								<li class="experience-list">CRUD</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-0 col-md-2"></div>
	</section>

	<section id="resume" class="row text-center">
		<div class="col-12 ">
			<h2 class="mb-3">Check Out My Resume</h2>
			<a href="#" type="submit">Here is my resume</a>
		</div>
	</section>

	<section id="project" class="row">
		<div class="col-0 col-md-2"></div>
		<div class="col-12 col-md-8">
			<div class="row justify-content-center">
				<div class="col-12">
					<div class="text-center mb-2 border-0">
						<h2 class="text-center mt-3 mb-3">Projects</h2>
						<hr class="mb-3">
						<p class="card-text justified">Here are the lists of projects that I had done</p>
					</div>
				</div>
			</div>
			<div class="card text-center mb-3 border-0">
				<div class="card-img-top projects mx-auto d-block mt-3 scroll-projects">
					<img class="img-fluid" src="https://www.rei.com/blog/wp-content/uploads/2015/04/James-Harnois-JTree.jpg" alt="Card image cap">
					<div class="project-info" data-toggle="modal" data-target="#project1">
						<i class="fas fa-search-plus fa-2x"></i>
						<p>Portfolio v1</p>
					</div>
				</div>
				<div id="project1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="project1Modal" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title mx-auto">Portfolio v1</h4>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div>
									<img class="modal-img-container img-fluid" src="https://www.rei.com/blog/wp-content/uploads/2015/04/James-Harnois-JTree.jpg">
								</div>
								<div class="modal-description">
									<p class="justified">This is my personal portfolio and also my first project I did from scratch. Added a contact form that enables user to submit an email.</p>
									<ul>
										<li>HTML</li>
										<li>CSS</li>
										<li>Javascript</li>
										<li>Bootstrap</li>
										<li>jQuery</li>
										<li>NodeJS</li>
										<li>ExpressJS</li>
									</ul>
								</div>
								<div class="modal-link">
									<a href="http://affeeq-ismail-portfolio-v1.herokuapp.com/">View Website</a>
									<a href="https://github.com/Affeeq/Portfolio-v1">View Source</a>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn" data-dismiss="modal"><span>Close</span></button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card text-center mb-3 border-0">
				<div class="card-img-top projects mx-auto d-block mt-3 scroll-projects">
					<img class="img-fluid" src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fcdn-image.travelandleisure.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2F1600x1000%2Fpublic%2F1516125062%2Fgrand-teton-national-park-wyoming-SCENICCAMP0118.jpg%3Fitok%3Dakrvix61&q=85" alt="Card image cap">
					<div class="project-info" data-toggle="modal" data-target="#project2">
						<i class="fas fa-search-plus fa-2x"></i>
						<p>Yelpcamp</p>
					</div>
				</div>
				<div id="project2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="project2Modal" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title mx-auto">Yelpcamp</h4>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div>
									<img class="modal-img-container img-fluid" src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fcdn-image.travelandleisure.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2F1600x1000%2Fpublic%2F1516125062%2Fgrand-teton-national-park-wyoming-SCENICCAMP0118.jpg%3Fitok%3Dakrvix61&q=85">
								</div>
								<div class="modal-description">
									<p class="justified">Yelpcamp is the final project from Colt Steele's Web Development Bootcamp Course from Udemy. It is a website that enable users to post campsites for people to view. Some functionality added to the website are user authorization, forgot password link and push notification.</p>
									<ul>
										<li>HTML</li>
										<li>CSS</li>
										<li>Javascript</li>
										<li>Bootstrap</li>
										<li>jQuery</li>
										<li>NodeJS</li>
										<li>ExpressJS</li>
										<li>MongoDB</li>
									</ul>
								</div>
								<div class="modal-link">
									<a href="#">View Website</a>
									<a href="https://github.com/Affeeq/YelpCamp">View Source</a>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn" data-dismiss="modal"><span>Close</span></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-0 col-md-2"></div>
	</section>

	<section id="contact" class="row justify-content-center align-items-center">
		<div class="col-0 col-md-2"></div>
		<div class="col-12 col-md-8">
			<form action="/contact" method="POST" autocomplete="off">
				<div class="form-row ml-3 ml-lg mr-3 mr-lg">
					<div class="col-1 col-sm-2"></div>
					<div class="col-10 col-sm-8">
						<div class="text-center mb-5 border-0">
							<h1 class="text-center mt-3 mb-3">Contact me.</h1>
							<hr class="mb-3">
							<p>Interested in working together? Or do you want to just say hi?</p>
							<p>Feel free to reach out to me!</p>
						</div>
						<div class="form-group">
							<input class="form-control" type="text" name="name" required>
							<label for="name">Name</label>
						</div>
						<div class="form-group">
							<input class="form-control" type="email" name="email" required>
							<label for="email">Email</label>
						</div>
						<div class="form-group">
							<input class="form-control" type="text" name="subject" required>
							<label for="subject">Subject</label>
						</div>
						<div id="form-textarea" class="form-group">
							<textarea class="form-control" name="message" rows="2" required></textarea>
							<label for="message">Messsage</label>
						</div>
						<div class="form-group text-center">
							<button class="btn btn">Submit</button>
						</div>
					</div>
					<div class="col-1 col-sm-2"></div>
				</div>
			</form>
		</div>
		<div class="col-0 col-md-2"></div>
	</section>

</div>


<%- include('./partials/footer') -%>