<%- include('./partials/header') -%>
<div class="container">
	<div class="row">
		<div class="col-1"></div>
		<div class="col-10">
			<h1 class="text-center">Hello</h1>
			<div class="row justify-content-md-center">
				<div class="col col-lg-11">
					<div class="card border-0">
						<div class="d-md-flex align-items-center">
							<div class="embed-responsive embed-responsive-4by3">
								<img class="card-img-top embed-responsive-item rounded-circle" src="http://www.iconarchive.com/download/i75813/martz90/circle/camera.ico" alt="Profile Image">
							</div>
							<div class="card-body">
								<h5 class="card-title">Card title</h5>
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-1"></div>
	</div>
</div>


<%- include('./partials/footer') -%>