<%- include('./partials/header') -%>

<div class="container-fluid">
	<div id="main" class="row justify-content-center">
		<div class="col-12">
			<div class="jumbotron mb-2">
				<div class="text-center mb-2 border-0">
					<h1 class="text-center mt-3 mb-3">Projects.</h1>
					<i class="fas fa-pencil-alt header-icons mb-2"></i>
					<p class="card-text">Here are the lists of projects that I had done</p>
				</div>
			</div>
		</div>
		
		<div class="col-12">
			<div class="card text-center mb-2 border-0 section">
				<div id="projects" class="card-img-top mx-auto d-block mt-3">
					<img class="img-fluid" src="https://www.rei.com/blog/wp-content/uploads/2015/04/James-Harnois-JTree.jpg" alt="Card image cap">
				</div>
				<div class="card-body">
					<h3 class="card-title">Affeeq Ismail</h3>
					<p class="card-text">Self-Taught Web Developer</p>
				</div>
			</div>
			<div class="card text-center mb-2 border-0 section">
				<div id="projects" class="card-img-top mx-auto d-block mt-3">
					<img class="img-fluid" src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fcdn-image.travelandleisure.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2F1600x1000%2Fpublic%2F1516125062%2Fgrand-teton-national-park-wyoming-SCENICCAMP0118.jpg%3Fitok%3Dakrvix61&q=85" alt="Card image cap">
				</div>
				<div class="card-body">
					<h3 class="card-title">Affeeq Ismail</h3>
					<p class="card-text">Self-Taught Web Developer</p>
				</div>
			</div>
		</div>
		
	</div>
</div>

<%- include('./partials/footer') -%>