html {
	overflow-x: hidden;
}

body {
	height: 100%;
	background-color: #ffffff;
	color: #003366;
}

.container-fluid {
	min-height: 100%; /*make sure the footer stays at the bottom*/
	padding: 0;
}

#main {
	overflow: auto;
}

.jumbotron, footer {
	background-color: #cccccc;
}

nav .container .row {
	flex-grow: 1;
}

#img-container {
	height: 220px;
	width: 220px;
	border-radius: 50%;
	border: 7px double #e9ecef;
	object-fit: cover;
}

#focus .card {
	height: 160px;
}

#jqueryFontSize {
	width: 32px;
	height: auto;
}

#projects {
	width: 75%;
	max-width: 600px;
	height: auto;
	overflow: hidden;
}

#projects img {
	transition: all 0.5s ease;
}

#projects:hover img {
	transform: scale(1.1);
	filter: blur(2px);
}

.navbarHideDisplay {
	margin-top: -70px;
	transition: margin 1s;
} 

.navbarShowDisplay {
	transition: margin 1s;
}

.navbarShowDisplayColor {
	background-color: #ffffff;
	transition: background 1s;
}

.navbarTransparent {
	background-color: #cccccc;
	transition: background 1s;
}

.form-group .btn {
	width: 28%;
	margin: 25px auto;
}

#ulFooter {
	list-style-type: none;
	padding-left: 0;
}

.header-icons {
	font-size: 7vw;
}

#ulFooter hr {
	border-top: 3px solid black;
}

#header-icon a i:hover {
	background: rgba(0,0,0,0.5);
  	text-decoration: none;
}

#footer-icon-container li {
	display: inline;
}

#footer-icon-container a:hover {
  background: rgba(0,0,0,0.5);
  text-decoration: none;
}