body {
	padding-top: 70px;
}

nav .container .row {
	flex-grow: 1;
}

#about {
	padding-top: 70px;
	margin-top: -70px; /*jump to the right spot on page*/
}

#img-container {
	height: 220px;
	width: 220px;
	border-radius: 50%;
	border: 7px double #e9ecef;
	object-fit: cover;
}

#jqueryFontSize {
	width: 48px;
	height: auto;
}

.jumbotron {
	background: black;
}

#projects {
	width: 75%;
}