body {
	padding-top: 70px;
}

nav .container .row {
	flex-grow: 1;
}

#about {
	padding-top: 70px;
	margin-top: -70px; /*jump to the right spot on page*/
}

#img-container {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	object-fit: cover;
}

#jqueryFontSize {
	width: 48px;
	height: auto;
}